<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	</head>
	<body>
		<h1 style='text-align:center'>Fullstack Twitter</h1>
			<div style="margin-top:10px class="container">
				<form method="POST" action="/tweets/tweetadd">
					<label for='text_field'>Create Tweet</label>
					<input name="content" type="text" id="text_field" value="Tweet Here" style="width: 400px;"/>
					by
					<input name="author" type ="text" id="text_field" value="Name" sytle="width: 100px;"/>
					<input type='submit' value='Add Tweet'/>
				</form>
			</div>	
		<div id="wrap">
			<div class='container'>
				<ul class='list-group'>
					{% for category in categories %}
					<li class="list-group-item" style="margin-bottom: 10px">
						<img src={{ category.pictureurl }} style="width:128px;height:128px;">
						<br>
						<a href='/tweets/usertweet/{{ category.content }}'>{{ category.content }}</a>
						<br>
						<p> - <a href='/tweets/{{ category.id }}'>{{ category.name }}</a></p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>	
	</body>
</html>